:root {
  --bg-color: #777
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

button {
  width: 200px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 22px
}

h1 {
  color: white;
}
